body {
    background-color: #6c6159;
}

#container {
    width: 920px;
    margin: auto;
}

/* event map page */
object#event-map {
    float: left;
}

#event-map-info {
    float: left;
    height: 780px;
    width: 280px;
    background-color: #7d726a;
    padding: 15px;
}

.event-map-button {
    width: 250px;
}

.event-map-sidebar-info {
    color: #3e3e3e
}

/* stands page */
.stands-header {
    background-color: #7d726a;
    padding: 15px;
}
.stands-header h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.stand {
    width: 450px;
    height: 210px;
    background-color: #5b5048;
    float: left;
    margin: 20px 20px 0 0;
    padding: 5px;
    opacity: 0.8;
}
.stand:nth-child(even) {
    margin: 20px 0 0 0;
}

.stand h4 {
    padding: 0;
    margin: 5px 0 0 0;
}

.stand hr {
    margin: 15px 0 5px 0;
}

.stand h5 {
    color: #eee;
    width: 220px;
}

.stand .stand-info {
    width: 220px;
    float: left;
}

.stand .stand-info .grayscale {
    filter: grayscale(100%);
    opacity: 0.7;
}

.stand .booked {
    float: right;
    text-align: right;
}

.stand .booked p {
    color: #222;
    margin: 3px;
}
.stand .booked a:hover {
    color: #2aabd2;
    text-decoration: none;
}

.stand a.btn {
    position: relative;
    left: 93px;
    top: 103px;
    opacity: 0;
    cursor: pointer;
}

.stand:hover {
    opacity: 1;
}

@keyframes move-down {
    from {transform: translate(0px, 0px); opacity: 0; }
    to {transform: translate(0px, +15px); opacity: 1; }
}

.stand:hover a.btn {
    animation-duration: 0.4s;
    animation-name: move-down;
    animation-fill-mode: forwards;
}

/* reservation stand page*/
.reservation-stand-header {
    background-color: #7d726a;
    padding: 15px;
}
.reservation-stand-header h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.reservation-stand-header hr {
    margin: 10px 0;
}

.reservation-stand-info {
    margin: 15px 0 0 0;
}
.reservation-stand-info img {
    float: left;
    margin: 0 10px 0 0;
    height: 80px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.75);
}
.reservation-stand-info img:hover {
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.75);
}

.reservation-form {
    min-height: 500px;
    padding: 15px 250px 15px 15px;
    background-color: #f1f1f1;
}
.reservation-form .text-danger {
    font-size: 12px;
}