<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/libs/fancybox/jquery.fancybox.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}" />
</head>
<body>

<div id="container"></div>

{{ include('@App/Default/underscore_templates.html.twig') }}

{# libs #}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/jquery.3.1.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/underscore.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/backbone.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/fancybox/jquery.mousewheel-3.0.4.pack.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/fancybox/jquery.fancybox.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/libs/jquery.form.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('app/app.js') }}"></script>

{# event map page resources #}
<script type="text/javascript" src="{{ asset('app/models/event.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/collections/events.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/views/events.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/views/event.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/views/events_sidebar.js') }}"></script>

{# stand list page resources #}
<script type="text/javascript" src="{{ asset('app/models/stand.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/collections/stands.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/views/stands.js') }}"></script>
<script type="text/javascript" src="{{ asset('app/views/stand.js') }}"></script>

{# reservation stand page resources #}
<script type="text/javascript" src="{{ asset('app/views/reservation_stand.js') }}"></script>

{# router #}
<script type="text/javascript" src="{{ asset('app/router.js') }}"></script>
</body>
</html>