<svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 640 780" xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
    <defs>
        <style type="text/css">
            .land
            {
                fill: #888;
                fill-opacity: 1;
                stroke:white;
                stroke-opacity: 1;
                stroke-width:0.5;
            }
            .land.selected {
                fill: #289FC7;
            }
            .land.hovered {
                fill: #e23;
            }

            @keyframes move-up {
                from {transform: translate(0px, 0px);}
                to {transform: translate(0px, -15px);}
            }

            .event:hover {
                z-index: 10;
                cursor: pointer;
                animation-name: moveup;
                animation-duration: 0.3s;
                animation-name: move-up;
                animation-fill-mode: forwards;
            }
            .event.selected {
                transform: translate(0px, -15px);
            }
        </style>

        <amcharts:ammap projection="mercator" leftLongitude="26.648880" topLatitude="48.495697" rightLongitude="30.181636" bottomLatitude="45.461699"></amcharts:ammap>

        <!-- All areas are listed in the line below. You can use this list in your script. -->
        <!--{id:"MD-AN"},{id:"MD-BA"},{id:"MD-BD"},{id:"MD-BR"},{id:"MD-BS"},{id:"MD-CA"},{id:"MD-CL"},{id:"MD-CM"},{id:"MD-CR"},{id:"MD-CS"},{id:"MD-CT"},{id:"MD-CU"},{id:"MD-DO"},{id:"MD-DR"},{id:"MD-DU"},{id:"MD-ED"},{id:"MD-FA"},{id:"MD-FL"},{id:"MD-GA"},{id:"MD-GL"},{id:"MD-HI"},{id:"MD-IA"},{id:"MD-LE"},{id:"MD-NI"},{id:"MD-OC"},{id:"MD-OR"},{id:"MD-RE"},{id:"MD-RI"},{id:"MD-SD"},{id:"MD-SI"},{id:"MD-SN"},{id:"MD-SO"},{id:"MD-ST"},{id:"MD-SV"},{id:"MD-TA"},{id:"MD-TE"},{id:"MD-UN"}-->

    </defs>
    <g>
        <path id="MD-AN" title="Anenii Noi" class="land" d="M422.71,446.6L423.02,445.63L423.02,445.63L423.87,432.5L422.51,423.64L418.93,418.52L414.49,419.54L411.85,421.85L411.85,421.85L411.85,421.85L411.85,421.85L413.9,412.21L412.36,409.15L407.76,404.03L402.48,403.35L400.77,400.79L401.62,393.29L405.2,388.69L405.2,388.69L404.35,385.29L409.29,381.27L420.55,379.74L422.08,381.1L422.08,381.1L423.27,383.15L423.27,383.15L424.47,388.77L424.47,388.77L427.54,391.84L429.92,390.99L432.65,387.75L432.65,387.75L439.13,379.22L448.16,378.37L449.7,377.18L450.38,371.38L449.36,364.56L450.89,361.66L455.32,359.11L457.2,352.8L457.2,352.8L459.25,352.8L459.25,352.8L462.14,353.74L471.35,363.45L473.74,369.59L473.4,373.68L470.33,380.67L472.37,384.59L472.37,384.59L471.18,386.64L471.18,386.64L463.51,384.25L460.95,384.59L460.27,390.73L460.27,390.73L461.29,393.29L461.29,393.29L466.07,397.21L466.07,397.21L472.71,399.94L472.71,399.94L476.47,398.06L476.47,398.06L480.05,395.85L480.05,395.85L483.63,393.97L489.59,396.36L491.81,398.92L491.81,398.92L491.3,402.5L491.3,402.5L489.08,405.91L490.1,409.66L490.1,409.66L492.49,415.28L492.49,415.28L490.79,418.69L489.76,415.79L489.76,415.79L489.42,414.09L487.89,414.09L487.38,412.9L488.57,412.38L487.21,411.19L487.21,411.19L478,410.34L477.15,412.04L477.15,412.04L476.12,414.43L476.12,414.43L476.12,418.35L474.59,421.08L476.98,425.68L476.98,425.68L478.34,427.39L478.34,427.39L480.56,433.18L480.56,433.18L463,432.67L463,432.67L455.5,439.15L448.85,440.85L443.9,445.8L443.9,445.8L443.73,449.21L445.78,453.47L445.1,457.9L445.1,457.9L439.47,457.73L437.08,455.52L437.08,455.52L435.55,452.79L435.55,452.79L431.12,447.5L426.34,445.63z"/>
        <path id="MD-BA" title="Bălţi" class="land" d="M196.57,185.23L196.61,185.17L196.61,185.17L197.86,183.73L197.86,183.73L197.8,183.22L197.8,183.22L210.71,186.23L211,184.31L207.93,181.81L208.6,180.57L212.15,176.54L217.9,176.25L217.9,176.25L218.44,175.39L218.44,175.39L220.21,179.22L222.41,179.51L227.97,183.64L230.95,182.58L235.64,176.64L237.08,176.92L238.71,181.62L240.34,182.87L240.54,187.47L236.7,191.02L240.34,194.28L239.58,198.12L234.88,197.92L232.1,195.72L229.03,197.83L220.49,198.79L220.49,198.79L218.77,199.55L218.77,199.55L210.33,200.42L208.41,199.46L207.74,197.64L210.81,194.76L210.81,193.32L207.07,190.64L197.29,188.62z"/>
        <path id="MD-BD" title="Tighina" class="land" d="M493.39,431.38L491.82,433.94L480.22,432.09L480.22,432.09L478.34,427.39L478.34,427.39L476.98,425.68L476.98,425.68L474.59,421.08L476.12,418.35L476.12,414.43L476.12,414.43L477.15,412.04L477.15,412.04L478,410.34L487.21,411.19L487.21,411.19L488.57,412.38L487.38,412.9L487.89,414.09L489.42,414.09L489.76,415.79L489.76,415.79L490.79,418.69L490.79,418.69L490.97,427.6L492.68,431.2L492.68,431.2z"/>
        <path id="MD-BR" title="Briceni" class="land" d="M89.29,30.08L90.68,29.48L99.44,33.83L99.44,33.83L96.29,42.45L106.35,49.44L106.35,49.44L107.44,52.72L107.44,52.72L105.04,60.59L107.88,63.65L107.22,65.62L103.72,68.9L99.57,68.24L97.6,72.18L92.8,71.74L87.11,67.59L86.68,64.96L88.86,60.59L87.77,59.5L84.93,58.63L81.43,60.37L80.56,62.78L76.62,65.4L75.75,82.23L66.09,93.6L66.09,93.6L62.3,96.14L59.22,94.68L55.58,90.71L59.08,89.07L61.04,89.8L62.06,87.98L55.13,85.82L55.47,83.09L53.88,79.11L50.92,77.07L49.66,77.54L49.9,81.04L48.99,82.41L46.55,82.44L44.67,79.45L44.67,75.36L38.31,70.36L34.9,69.56L34.78,67.52L31.37,64.79L26.14,61.83L23.87,61.83L20.97,65.15L19.17,65.38L18.3,60.81L16.14,61.15L14.75,64.63L13.19,64.68L12.05,60.58L10.02,62.14L10.12,65.02L8.87,66.04L6.48,62.29L1.85,61.28L0,55.58L4.32,49.22L8.87,48.54L8.87,40.81L11.59,39.33L12.96,39.78L19.89,50.81L27.17,50.7L28.42,48.88L27.28,47.63L27.74,41.72L26.14,35.35L23.3,30.24L33.19,29.33L35.58,22.51L37.62,22.96L42.86,28.44L53.88,36.26L56.27,36.37L62.18,31.6L66.84,35.24L68.77,34.33L66.72,23.19L69.34,21.48L76.38,24.21L81.17,28.23z"/>
        <path id="MD-BS" title="Basarabeasca" class="land" d="M371.19,527.29L369.31,524.39L370,521.84L375.45,519.96L380.74,516.38L392.33,504.62L395.23,503.93L402.22,506.32L406.83,512.43L407.42,515.36L411.34,516.55L411.34,516.55L409.37,520.23L403.84,520.76L396.59,525.07L398.98,537.86L402.56,541.9L405.46,551.5L403.76,559.29L399.15,562.24L397.96,564.46L397.45,566.33L399.36,568.47L399.36,568.47L388.24,565.65L382.1,560.36L376.82,562.41L375.45,565.65L367.61,564.46L360.79,566.84L357.72,566.33L357.89,562.92L354.65,555.42L357.89,554.57L363.86,555.42L380.06,550.99L381.76,550.31L384.15,544.17L383.12,540.59L375.11,535.3L372.9,529.85L371.05,529.18L371.05,529.18z"/>
        <path id="MD-CA" title="Cahul" class="land" d="M327.32,733.94v2.56l0,0l-10.94,2.71l-3.24,2.22l-1.53,-0.85l0,0l-1.36,-5.45l0,0l-0.51,-12.1l1.02,-2.05l7.85,-1.7l0,0l4.17,2.59L327.32,733.94zM318.08,614.49l-0.34,3.75l0,0h0.07l0,0l-0.58,1.02l-7.33,1.19l-1.88,1.71l-0.51,8.69l-2.39,5.46l1.02,1.88l0.85,16.2l4.94,4.77l1.19,2.73l0,0l-2.05,2.73l0,0l-1.19,1.02l0,0l-1.53,-0.17l0,0l-9.04,-0.17l-1.36,1.19l2.05,10.91l1.88,2.39l8.87,1.71l5.29,7.16l2.73,-3.24l2.73,2.05v5.28l1.36,2.9l3.58,2.9l-0.51,3.58l-1.7,0.51l-0.68,2.45l0,0l-3.75,0.36l0,0l-5.45,1.54l-5.63,-0.34l0,0l-5.28,-2.22l-6.65,-0.51l-6.65,-5.11l-2.39,0.17l-1.36,1.36l0.17,15.34l2.39,5.12l0,0v9.72l0,0l-4.6,5.46v3.58l2.56,3.07l0,0l1.53,2.22l0,0l-0.17,2.73l-2.05,0.68l0,0l-2.05,1.53l0,0v1.98l-3.83,0.32l-6.48,9.38l-0.68,6.82l-3.82,-1.1l-1.85,-1.79l-1.71,-4.84l0.14,-9.25l-3.56,-2.42l0.14,-5.4l-6.12,-0.85l-3.98,-5.4l-3.7,-1.42l2.56,-5.12l2.13,-0.14l1.99,-3.13l5.97,-0.43l2.42,-2.56l-1.28,-6.12l2.42,-4.98l-1.42,-9.53l-2.99,-6.12l0.71,-6.26l-3.41,-1.85l-4.12,-11.02l0.85,-18.64l-2.7,-9.96l0.85,-3.98l-1.71,-7.11l-3.98,-6.12l1.57,-3.27l0.43,-8.53l-1.14,-2.99l3.27,-4.27l-0.18,-1.97l0,0l9.51,-2.48l0,0l7.84,0.51l5.29,2.39l1.88,-1.36l5.8,-0.51l0,0l2.56,2.9l0,0l4.09,4.09l1.88,0.34l9.72,-2.05l0,0l5.63,1.36l0,0l1.71,-8.35l4.77,-1.02l2.22,-1.7l0,0l1.85,-1.2l0,0l2.24,1.2L318.08,614.49z"/>
        <path id="MD-CL" title="Călăraşi" class="land" d="M320.9,277.08L321.32,292.62L329.85,295.69L331.72,297.73L330.36,299.27L330.36,299.27L327.8,300.63L327.8,300.63L325.93,306.26L319.28,307.62L315.36,313.08L306.83,316.66L306.15,318.53L311.78,320.41L313.99,327.91L312.29,334.73L307,335.24L303.76,340.01L291.66,345.81L282.11,346.83L279.72,345.31L279.72,345.31L280.24,344.62L280.24,344.62L268.98,339.5L263.02,339.33L258.42,334.22L254.15,334.22L249.04,331.66L247.33,330.64L247.16,326.2L240.86,322.17L240.86,322.17L248.19,314.44L254.49,302.51L267.28,291.94L268.3,278.81L269.13,276.58L272.48,277.27L272.48,277.27L287.14,278.98L292.6,282.22L297.2,282.73L304.7,280L318.17,277.96L318.17,277.96z"/>
        <path id="MD-CM" title="Cimişlia" class="land" d="M352.52,447.78L358.57,447.84L363.86,449.89L366.76,451.94L368.29,457.39L371.02,460.12L375.11,459.95L377.16,458.76L377.16,453.13L378.69,449.38L381.25,446.65L383.64,445.97L389.77,449.04L391.99,451.42L394.04,456.71L392.67,463.53L392.67,463.53L393.26,463.51L393.26,463.51L393.52,466.77L398.64,475.63L398.64,478.53L398.64,478.53L400.34,483.65L405.12,483.65L405.12,483.65L411.43,478.19L414.49,478.19L414.49,478.19L416.88,479.04L417.73,481.43L417.9,488.42L416.37,493.53L415.52,506.32L416.88,509.04L414.34,509.34L414.26,512.05L411.34,516.55L411.34,516.55L407.42,515.36L406.83,512.43L402.22,506.32L395.23,503.93L392.33,504.62L380.74,516.38L375.45,519.96L370,521.84L369.31,524.39L371.19,527.29L371.19,527.29L371.02,529.51L371.02,529.51L367.78,530.53L363.52,529.51L357.38,525.76L341.7,521.84L335.39,517.06L329.42,519.62L322.17,515.7L322.17,515.7L323.45,514.85L323.45,514.85L329.42,507.34L328.91,499.84L332.15,495.41L333,492L330.78,468.98L330.78,468.98L331.81,468.98L331.81,468.98L334.71,468.98L337.6,465.23L338.12,459.44L337.09,457.56L339.99,450.4L343.4,450.06L344.77,453.47L347.15,453.3L347.83,451.25L350.73,449.21L350.73,449.21z"/>
        <path id="MD-CR" title="Criuleni" class="land" d="M450.89,361.66l-1.53,2.9l1.02,6.82l-0.68,5.8l-1.53,1.19l-9.03,0.85l-6.48,8.52l0,0l-2.73,3.24l-2.39,0.85l-3.07,-3.07l0,0l-1.19,-5.63l0,0l-1.19,-2.05l0,0l-1.53,-1.36l-7.67,0.68l-3.58,0.85l-4.94,4.02l-2.56,0.16l-1.7,-0.51l-0.34,-2.9l1.36,-6.65l6.31,-0.34l3.41,-2.56l11.93,1.02l3.24,-4.77l0.17,-2.56l-1.27,-1.27l0,0l2.24,-4.14l10.52,-8.27l4.36,-6.61l7.68,-3.48l0,0l5.11,1.36l5.29,7.33l0,0l-0.85,1.71l0,0H457.2l0,0l-1.87,6.31L450.89,361.66zM406.57,308.2v1.9l4.09,3.92l0.17,1.54l2.73,2.22h3.41l0.34,2.56l-1.87,2.56l11.59,2.05l5.51,-0.98l5.57,-3.41l0,0l0,0.05l0,0l3.07,3.41l6.31,2.39l0,0l-5.62,1.92l-3.8,3.15l-3.2,8.48l-4.43,5.46l-6.82,1.53l-6.14,9.04l-0.51,2.56l0,0l-1.7,0.51l0,0l-1.7,1.02l0,0l-4.09,2.56l-2.73,-0.85l-6.65,1.54l0,0l-6.65,-0.34l-2.73,-1.7l0,0l-1.53,-3.58l-0.34,-6.82l-1.36,-1.7l-4.77,-0.17l-3.58,1.71l-1.87,3.24l1.19,1.02l-0.51,1.88l-2.05,0.51l-1.87,-3.58l-10.3,-3.24l3.65,-4.09h1.71l0.68,-4.26l0,0l-1.98,-3.8l0,0l1.13,-0.81v-15.51l1.53,-3.07l0,0l1.36,-1.36l0,0l6.65,1.88l0,0l6.14,-2.22l0,0l5.12,-3.58l4.43,-1.36l0,0l4.6,-2.05l0,0L406.57,308.2z"/>
        <path id="MD-CS" title="Căuşeni" class="land" d="M480.22,432.09L491.82,433.94L493.39,431.38L493.39,431.38L494.05,431.54L494.05,431.54L495.93,431.54L496.1,434.11L499.87,437.36L502.43,437.87L502.77,436.16L507.4,438.05L509.62,437.36L510.82,427.6L512.19,426.75L514.76,426.75L516.47,428.63L515.61,431.03L516.81,431.88L524.17,431.54L524.68,439.93L530.5,452.59L526.22,461.15L524,462.52L523.71,465.67L523.71,465.67L523.14,465.77L523.14,465.77L521.43,471.08L516.13,472.28L512.87,476.39L503.97,476.56L495.93,483.57L490.11,481.35L480.52,488.88L485.32,494.01L476.76,499.15L477.27,503.77L485.33,512.97L485.33,512.97L483.28,513.14L478.24,519.63L476.53,529.05L473.4,529.85L470.33,524.9L469.82,520.13L467.77,516.38L465.77,514.92L463.17,515.18L459.93,518.6L459.25,521.15L458.9,524.05L461.46,531.38L460.76,533.56L453.34,534.39L450.72,537.35L447.82,544L443.05,544L440.66,541.27L441.52,535.64L446.12,529L445.1,524.73L447.82,510.07L446.8,507.69L448.48,507.18L447.31,500.35L444.41,496.6L438.79,497.29L436.02,499.63L434.08,506.98L418.85,507.66L416.88,509.04L415.52,506.32L416.37,493.53L417.9,488.42L417.73,481.43L416.88,479.04L414.49,478.19L414.49,478.19L411.43,478.19L405.12,483.65L405.12,483.65L400.34,483.65L398.64,478.53L398.64,478.53L398.64,475.63L393.52,466.77L393.26,463.51L393.26,463.51L402.9,464.21L405.8,461.31L405.8,461.31L411.6,457.9L411.6,457.9L417.39,454.15L417.39,454.15L422.17,448.36L422.17,448.36L422.71,446.6L426.34,445.63L431.12,447.5L435.55,452.79L435.55,452.79L437.08,455.52L437.08,455.52L439.47,457.73L445.1,457.9L445.1,457.9L445.78,453.47L443.73,449.21L443.9,445.8L443.9,445.8L448.85,440.85L455.5,439.15L463,432.67L463,432.67L480.56,433.18L480.56,433.18z"/>
        <path id="MD-CT" title="Cantemir" class="land" d="M250.95,611.69L254.34,603.56L254.76,593.43L255.94,592.04L255.72,588.09L251.88,583.4L251.13,578.7L254.55,575.82L253.48,572.73L254.12,571.02L258.07,567.29L262.87,565.48L263.94,561.31L266.71,559.07L262.87,550.75L267.35,544.88L268.2,541.36L270.45,538.7L270.56,535.77L270.56,535.77L286.63,535.3L291.92,540.42L300.44,542.29L303.17,540.59L303.85,538.71L303.85,536.5L301.8,534.96L302.83,533.77L306.58,531.04L310.5,530.7L312.37,535.3L308.96,538.88L309.65,540.93L316.64,547.41L318.85,547.75L318.85,547.75L319.34,547.75L319.34,547.75L316.21,554.14L316.21,558.57L326.78,564.88L326.78,574.94L325.59,584.66L324.05,586.87L316.21,585.34L311.78,589.43L315.87,600.85L315.36,604.43L315.36,604.43L315.67,604.6L315.67,604.6L313.82,605.8L313.82,605.8L311.61,607.5L306.83,608.53L305.13,616.88L305.13,616.88L299.5,615.52L299.5,615.52L289.78,617.56L287.91,617.22L283.82,613.13L283.82,613.13L281.26,610.23L281.26,610.23L275.46,610.74L273.59,612.11L268.3,609.72L260.46,609.21L260.46,609.21z"/>
        <path id="MD-CU" title="Chişinău" class="land" d="M417.65,359.36L417.65,359.36L416.7,358.59L416.7,358.59L415.26,359.02L415.26,359.02L413.56,360.04L413.56,360.04L409.46,362.6L406.74,361.75L400.09,363.28L400.09,363.28L393.44,362.94L390.71,361.24L390.71,361.24L389.18,357.66L388.84,350.84L387.47,349.13L382.7,348.96L379.12,350.67L377.24,353.91L378.44,354.93L377.93,356.81L375.88,357.32L374,353.74L371.45,353.57L365.99,350.5L363.7,350.5L363.09,354.93L363.09,354.93L361.05,359.19L351.5,360.9L346.04,364.48L344.34,366.69L344,370.44L346.21,375.39L346.21,375.39L346.1,375.58L346.1,375.58L361.05,388.26L362.07,393.37L364.63,395.08L372.64,396.61L377.75,400.36L379.63,412.3L383.89,418.1L392.25,418.61L401.45,425.08L407.08,426.45L411.17,425.43L411.85,421.85L411.85,421.85L413.9,412.21L412.36,409.15L407.76,404.03L402.48,403.35L400.77,400.79L401.62,393.29L405.2,388.69L405.2,388.69L404.35,385.28L400.09,384.94L401.11,375.39L407.42,375.05L410.83,372.49L422.76,373.51L426,368.74L426.17,366.18L424.13,364.14z"/>
        <path id="MD-DO" title="Donduşeni" class="land" d="M141.71,77.26L142.85,76.55L145.04,67.81L143.29,61.69L143.94,58.84L144.6,56.44L150.72,50.32L149.19,44.85L150.5,43.11L155.75,41.36L160.12,43.76L168.64,42.01L171.48,41.14L179.35,35.24L185.03,36.11L189.19,41.14L194,41.79L203.18,30.87L215.63,30.01L215.63,30.01L218.3,39.1L218.3,39.1L209.62,45.95L208.53,49.88L216.62,53.38L221.65,58.19L215.96,64.53L212.9,64.53L209.4,66.27L209.4,66.27L205.03,68.24L205.03,68.24L190.17,76.55L188.64,82.67L183.39,89.66L182.96,93.16L170.06,102.34L170.28,104.31L180.55,113.92L179.9,116.55L177.93,118.08L174.21,118.08L174.21,118.08L172.47,118.08L172.47,118.08L170.72,116.55L170.72,114.58L163.29,115.45L154.54,109.33L151.35,108.9L151.35,108.9L151.37,108.46L151.37,108.46L148.53,105.84L149.41,101.9L148.53,99.94L148.75,85.95L146.56,82.67L142.19,80.48L142.19,80.48z"/>
        <path id="MD-DR" title="Drochia" class="land" d="M237.05,130.97L241.54,142.89L241.1,147.48L238.69,149.88L237.6,153.16L237.6,153.16L237.6,155.34L237.6,155.34L230.39,168.9L226.45,166.71L226.23,164.31L221.43,167.15L219.24,170.43L219.24,170.43L216.84,173.05L216.84,173.05L214.21,169.77L209.84,169.33L203.72,171.08L200.88,170.43L184.49,151.19L179.9,149.22L172.9,148.57L168.97,145.07L168.97,137.42L165.91,129.77L170.5,128.02L172.25,125.4L172.03,121.46L173.56,118.08L173.56,118.08L174.21,118.08L174.21,118.08L177.93,118.08L179.9,116.55L180.55,113.92L170.28,104.31L170.06,102.34L182.96,93.16L183.39,89.66L188.64,82.67L190.17,76.55L205.03,68.24L205.03,68.24L207.84,66.98L207.84,66.98L210.28,68.24L214.21,77.42L226.23,78.52L241.1,93.16L247.87,103.87L247.22,110.86L244.81,112.18L243.72,116.55L238.69,116.55L237.6,120.04L233.01,123.54L236.29,130.97L236.29,130.97z"/>
        <path id="MD-DU" title="Dubăsari" class="land" d="M449.7,342.4l-7.68,3.48l-4.36,6.61l-10.52,8.27l-2.24,4.14l0,0l-7.25,-5.54l0,0l-0.94,-0.77l0,0l0.26,-0.08l0,0l0.51,-2.56l6.14,-9.04l6.82,-1.53l4.43,-5.46l3.2,-8.48l3.8,-3.15l5.62,-1.92l0,0l7.16,-0.85l1.02,-2.05l4.77,-1.87l5.8,-4.77l2.05,-0.68l1.19,1.19l-3.07,5.97l-5.28,2.22l-3.41,5.29v2.22l-3.92,1.71l-4.26,3.92l-1.02,2.73L449.7,342.4zM438.28,296.88l5.11,0.17l2.56,-2.22l13.3,-2.9l2.9,-1.19l3.41,-3.9l1.32,3.26l0,0l-0.13,1.16l-17.73,8.01l-1.02,2.73l-6.14,1.88l-3.75,6.14l0.17,6.65l0,0l-0.17,3.87l0,0l-5.57,3.41l-5.51,0.98l-11.59,-2.04l1.88,-2.56l-0.34,-2.56h-3.41l-2.73,-2.22l-0.17,-1.53l-4.09,-3.92v-1.9l0,0l5.46,-2.71l1.02,-3.92l-5.28,-8.86l0.51,-3.41h6.82l0.17,-3.58l3.58,-3.58l0,0l1.53,-0.34l0,0l3.18,-1.02l4.83,3.5l5.46,5.46l2.39,6.31L438.28,296.88z"/>
        <path id="MD-ED" title="Edineţ" class="land" d="M106.48,49.85L110.28,40.92L117.28,38.52L119.68,35.89L123.61,36.11L124.27,43.76L122.74,45.95L121.87,52.07L124.27,61.47L134.98,73.05L141.54,76.11L141.54,76.11L142.19,80.48L142.19,80.48L146.56,82.67L148.75,85.95L148.53,99.94L149.41,101.9L148.53,105.84L151.37,108.46L151.37,108.46L151.15,112.18L151.15,112.18L145.25,119.17L136.29,124.85L133.67,124.85L130.39,122.89L126.67,123.32L124.27,128.57L121.21,129.44L115.31,124.85L109.84,125.07L105.25,128.13L102.19,139.93L98.7,144.09L93.01,145.62L93.01,145.62L92.64,143.45L88.3,139.62L91.16,134.92L90.59,133.22L84.63,130.82L84.34,129.24L86.5,127.19L82.79,125.67L81.61,127.53L78.45,126.79L78.32,125.15L81.39,121.85L80.82,120.37L75.38,119.41L74.64,115.27L68.48,110.62L67.63,105.14L69.56,100.71L69.11,97.3L66.09,93.6L66.09,93.6L75.75,82.23L76.62,65.4L80.56,62.78L81.43,60.37L84.93,58.63L87.77,59.5L88.86,60.59L86.68,64.96L87.11,67.59L92.8,71.74L97.6,72.18L99.57,68.24L103.72,68.9L107.22,65.62L107.88,63.65L105.04,60.59L107.44,52.72L107.44,52.72z"/>
        <path id="MD-FA" title="Făleşti" class="land" d="M164.79,293.88L159.67,291.77L160,288.65L163.12,283.38L162.63,281.74L159.01,279.93L161.64,270.22L157.86,268.08L155.72,264.47L152.76,266.11L143.22,260.52L142.07,258.38L142.07,252.79L139.1,250.65L135.72,239.54L135.72,239.54L145.98,230.24L154.13,225.26L157.2,224.87L162.67,227.94L165.74,227.46L174.56,208.47L178.39,203.29L180.02,203.2L185.39,207.51L189.42,205.6L193.93,197.83L195.37,186.9L195.37,186.9L196.57,185.23L196.57,185.23L197.29,188.62L207.07,190.64L210.81,193.32L210.81,194.76L207.74,197.64L208.41,199.46L210.33,200.42L218.77,199.55L218.77,199.55L219.67,199.15L219.67,199.15L222.7,201.24L222.7,203.8L218.44,209.25L219.46,212.15L226.28,221.7L232.08,225.45L232.25,228L229.52,230.73L224.4,232.27L223.21,241.98L214.69,248.12L214.69,251.19L215.88,251.87L228.67,251.87L229.35,254.94L226.45,263.12L223.72,265L221.16,264.66L221.16,264.66L216.56,262.78L213.66,263.29L212.3,264.83L212.3,272.16L209.4,275.91L198.66,275.23L191.33,276.25L186.56,280.17L177.86,282.73L171.38,292.79z"/>
        <path id="MD-FL" title="Floreşti" class="land" d="M239.79,130.97L259.68,131.19L272.14,134.91L279.35,129.44L283.28,129.01L290.93,132.5L307.76,133.38L313.66,126.16L326.12,117.64L327.43,114.14L324.81,110.65L319.81,107.78L319.81,107.78L321.68,106.45L323.17,95.91L326.95,95.03L332.06,96.73L334.96,102.19L344.68,103.21L346.73,104.91L347.07,107.64L341.61,111.22L338.03,108.84L337.01,113.78L334.11,117.19L327.46,121.62L328.14,123.84L332.75,128.27L335.13,128.27L336.84,127.42L341.1,119.75L346.21,120.43L351.67,122.99L359.34,132.19L361.05,132.53L361.39,135.09L361.39,135.09L360.71,136.79L358.49,137.65L357.98,143.27L351.5,148.39L351.5,156.23L342.81,158.96L341.44,160.49L341.61,165.27L337.35,166.8L335.13,165.44L336.67,162.71L336.33,159.3L333.26,155.89L329.34,154.35L322.69,155.72L312.8,161.69L310.58,170.38L306.83,172.6L306.83,178.73L308.88,179.42L314.16,177.37L318.26,179.42L324.56,196.64L324.05,199.19L324.05,199.19L321.66,201.41L321.66,201.41L316.89,203.97L315.02,209.08L311.61,208.91L306.32,206.01L304.79,206.18L301.66,209.96L301.66,209.96L299.93,208.23L299.93,208.23L281.35,195.44L268.05,184.53L237.6,155.17L237.6,155.17L237.6,153.16L237.6,153.16L238.69,149.88L241.1,147.48L241.54,142.89L237.05,130.97L237.05,130.97z"/>
        <path id="MD-GA" title="Unitatea Teritorială Autonomă Găgăuzia (UTAG)" class="land" d="M296.77,703.91l6.65,0.51l5.29,2.22l0,0l5.63,0.34l5.46,-1.53l0,0l2.27,0.1l-1.85,9.45l-2.4,1.05l0.79,3.22l0,0l-7.85,1.71l-1.02,2.05l0.51,12.1l0,0l1.36,5.46l0,0l1.54,0.85l3.24,-2.22l10.95,-2.71l0,0l-0.43,1.57l-6.26,3.13l0.26,4.32l1.88,0.43l0.85,2.22l0.17,4.26l-9.21,4.43l-4.77,-1.19l-4.43,0.85l-13.47,-4.94l-7.76,0.19v-1.98l0,0l2.05,-1.53l0,0l2.05,-0.68l0.17,-2.73l0,0l-1.53,-2.22l0,0l-2.56,-3.07v-3.58l4.6,-5.45l0,0v-9.72l0,0l-2.39,-5.11l-0.17,-15.34l3.75,-1.53L296.77,703.91zM362.38,665.3l1.99,4.01l-0.17,4.26l-3.41,2.73l-8.86,3.41l-1.32,1.98l0,0l-2,-1.39l0,0l-9.38,4.09l0,0l-1.7,0.68l0,0l-3.92,0.68l-8.52,-6.82l-0.85,-2.73l0,0l0.51,-3.92l0,0l2.39,-1.36l5.46,0.51l15.17,-4.43l0,0L362.38,665.3zM318.43,665.3l-1.02,4.09l0,0l-2.22,1.71l0,0l-3.07,1.36l-1.87,-0.51l-2.05,-4.6l0.25,-1.87l1.46,0.16l0,0l1.19,-1.02l0,0l1.41,-1.87h2L318.43,665.3zM322.17,515.7l7.26,3.92l5.97,-2.56l6.31,4.77l15.69,3.92l6.14,3.75l4.26,1.02l3.24,-1.02l0,0l0.03,-0.32l0,0l1.85,0.67l2.22,5.46l8.01,5.29l1.02,3.58l-2.39,6.14l-1.7,0.68l-16.2,4.43l-5.97,-0.85l-3.24,0.85l3.24,7.5l-0.17,3.41l3.07,0.51l6.82,-2.39l7.84,1.19l1.36,-3.24l5.29,-2.05l6.14,5.29l11.12,2.82l0,0l0.56,3.08l6.91,4.71l0,0l-1.29,1.24l0,0l-10.91,10.74l-3.92,6.65l0.34,4.94l0,0l2.39,10.57l-4.26,1.53l0,0l-8.35,6.14l-1.02,7.5l0,0l1.02,1.19l0,0l3.75,-0.51l0,0l1.19,6.14l0,0l0.84,6.21l-16.02,3.44l-2.72,-6.91l-4.43,-6.31l0,0l-2.05,-2.73l0,0l-4.43,-1.87l-4.94,2.05l0,0l-1.02,3.41l0,0l4.6,13.47v2.05l-1.53,0.68l-10.4,0.51l-10.57,7.5l-3.75,0.17l-4.43,-4.09l-4.94,-1.88l-0.68,-4.94l2.56,-0.85l0,0h1.53l0,0l4.6,0.17l0,0l1.02,-2.39l0,0v-2.56l-1.87,-1.53l0,0l-8.86,-2.73v-1.87l4.43,-2.22l0,0l2.05,-4.43l0,0l0.34,-2.73l-2.05,-5.28l-1.7,-0.51l-2.22,2.05l0,0h-1.36l0,0l0.34,-3.75l0,0l-0.17,-8.69l-2.56,-1.36l0,0l0.51,-3.58l-4.09,-11.42l4.43,-4.09l7.84,1.53l1.54,-2.22l1.19,-9.72v-10.06l-10.57,-6.31v-4.43l3.13,-6.39l0,0h2.41l0,0l3.41,-0.34l4.77,-2.56l1.02,-3.58l-1.53,-6.99l-8.69,-10.06l-1.02,-5.97l1.7,-2.04l0,0L322.17,515.7z"/>
        <path id="MD-GL" title="Glodeni" class="land" d="M135.72,239.54L130.06,236.83L125.62,227.46L114.27,217.43L114.43,213.81L111.15,210.35L111.31,208.38L107.69,205.25L108.84,203.45L112.63,202.62L113.61,200.81L112.26,193.47L113.57,191.98L113.57,191.98L122.29,179.8L123.92,173.18L125.75,172.51L130.25,175.48L132.55,175.2L142.43,167.24L144.93,166.47L170.15,174.53L175.23,174.33L180.5,170.4L187.6,168.68L197.67,182.1L197.67,182.1L197.86,183.73L197.86,183.73L196.61,185.17L196.61,185.17L195.37,186.9L195.37,186.9L193.93,197.83L189.42,205.6L185.39,207.51L180.02,203.2L178.39,203.29L174.56,208.47L165.74,227.46L162.67,227.94L157.2,224.87L154.13,225.26L145.98,230.24z"/>
        <path id="MD-HI" title="Hînceşti" class="land" d="M286.2,367.03L290.64,367.21L297.97,372.66L303.08,369.59L307.17,371.47L312.29,368.23L314.85,370.1L314.85,370.1L318.91,370.95L318.91,370.95L329.76,400.62L333.17,400.96L344.6,414.77L346.98,415.28L349.54,413.07L352.1,413.24L358.75,424.32L359.43,428.75L354.99,434.21L354.99,438.47L357.72,438.98L357.55,442.9L353.29,447.16L353.29,447.16L350.73,449.21L350.73,449.21L347.83,451.25L347.15,453.3L344.77,453.47L343.4,450.06L339.99,450.4L337.09,457.56L338.12,459.44L337.6,465.23L334.71,468.98L331.81,468.98L331.81,468.98L325.33,468.98L325.33,468.98L315.1,469.67L306.41,460.97L304.7,460.63L300.44,464.21L294.64,465.92L294.47,468.3L297.37,472.05L297.03,481.77L294.98,484.84L287.31,485.01L284.41,483.31L280.32,476.32L276.53,476.49L272.7,478.37L272.7,478.37L266.77,460.69L262.99,453.45L261.35,440.95L255.59,434.04L255.75,431.25L252.79,427.96L252.46,421.87L250.82,418.91L251.31,411.68L249.5,409.7L249.5,409.7L252.63,407.23L252.63,407.23L252.73,404.2L253.81,403.6L253.81,403.6L260.97,408.55L263.53,406.16L270.86,407.52L274.78,406.84L273.76,387.75L278.7,384.51L285.52,383.49L286.2,374.96L284.67,370.53L286.03,367.29L286.03,367.29z"/>
        <path id="MD-IA" title="Ialoveni" class="land" d="M411.85,421.85L414.49,419.54L418.93,418.52L422.51,423.64L423.87,432.5L423.02,445.63L423.02,445.63L422.17,448.36L422.17,448.36L417.39,454.15L417.39,454.15L411.6,457.9L411.6,457.9L405.8,461.31L405.8,461.31L402.9,464.21L392.67,463.53L392.67,463.53L394.04,456.71L391.99,451.42L389.77,449.04L383.64,445.97L381.25,446.65L378.69,449.38L377.16,453.13L377.16,458.76L375.11,459.95L371.02,460.12L368.29,457.39L366.76,451.94L363.86,449.89L358.57,447.84L352.52,447.78L352.52,447.78L353.29,447.16L353.29,447.16L357.55,442.9L357.72,438.98L354.99,438.47L354.99,434.21L359.43,428.75L358.75,424.32L352.1,413.24L349.54,413.07L346.98,415.28L344.6,414.77L333.17,400.96L329.76,400.62L318.91,370.95L318.91,370.95L318.94,370.96L318.94,370.96L320.64,368.74L322.35,368.91L324.05,374.2L326.1,375.39L331.89,383.4L336.5,385.96L339.4,385.96L340.08,384.94L338.54,383.06L340.08,377.6L345.19,377.09L345.19,377.09L346.1,375.58L346.1,375.58L361.05,388.26L362.07,393.37L364.63,395.08L372.64,396.61L377.75,400.36L379.63,412.3L383.89,418.1L392.25,418.61L401.45,425.08L407.08,426.45L411.17,425.43z"/>
        <path id="MD-LE" title="Leova" class="land" d="M270.56,535.77L270.23,533.31L274.34,528.21L274.18,525.41L272.53,524.26L273.35,518.34L266.77,509.13L266.77,507.15L270.39,499.92L269.74,491.53L273.52,484.13L272.7,478.37L272.7,478.37L276.53,476.49L280.32,476.32L284.41,483.31L287.31,485.01L294.98,484.84L297.03,481.77L297.37,472.05L294.47,468.3L294.64,465.92L300.44,464.21L304.7,460.63L306.41,460.97L315.1,469.67L325.33,468.98L325.33,468.98L330.78,468.98L330.78,468.98L333,492L332.15,495.41L328.91,499.84L329.42,507.34L323.45,514.85L323.45,514.85L321.41,516.21L321.41,516.21L319.7,518.25L320.73,524.22L329.42,534.28L330.96,541.27L329.93,544.85L325.16,547.41L321.75,547.75L321.75,547.75L318.85,547.75L318.85,547.75L316.64,547.41L309.65,540.93L308.96,538.88L312.37,535.3L310.5,530.7L306.58,531.04L302.83,533.77L301.8,534.96L303.85,536.5L303.85,538.71L303.17,540.59L300.44,542.29L291.92,540.42L286.63,535.3z"/>
        <path id="MD-NI" title="Nisporeni" class="land" d="M240.86,322.17L247.16,326.2L247.33,330.64L249.04,331.66L254.15,334.22L258.42,334.22L263.02,339.33L268.98,339.5L280.24,344.62L280.24,344.62L279.21,345.98L279.21,345.98L277.85,351.78L273.59,351.61L273.93,353.99L279.04,358.77L285.18,361.15L287.4,365.24L287.4,365.24L286.03,367.29L286.03,367.29L284.67,370.53L286.2,374.96L285.52,383.49L278.7,384.51L273.76,387.75L274.78,406.84L270.86,407.52L263.53,406.16L260.97,408.55L253.81,403.6L253.81,403.6L252.63,404.26L252.63,407.23L252.63,407.23L249.5,409.7L249.5,409.7L250.33,407.56L248.68,402.79L248.35,395.72L246.38,391.94L246.87,389.14L241.9,383.94L242.22,375.81L238.47,369.51L226.19,360.13L224.32,354.5L223.64,347.17L227.22,343.42L229.43,338.82L226.88,330.98L228.07,328.59z"/>
        <path id="MD-OC" title="Ocniţa" class="land" d="M159.82,8.41L160.27,10.57L165.73,11.14L173.23,16.48L176.18,16.82L184.88,11.13L192.44,11.14L196.91,12.62L211.28,22.92L214.38,26.03L215.63,30.01L215.63,30.01L203.18,30.87L194,41.79L189.19,41.14L185.03,36.11L179.35,35.24L171.48,41.14L168.64,42.01L160.12,43.76L155.75,41.36L150.5,43.11L149.19,44.85L150.72,50.32L144.6,56.44L143.94,58.84L143.29,61.69L145.04,67.81L142.85,76.55L141.71,77.26L141.71,77.26L141.54,76.11L141.54,76.11L134.98,73.05L124.27,61.47L121.87,52.07L122.74,45.95L124.27,43.76L123.61,36.11L119.68,35.89L117.28,38.52L110.28,40.92L106.48,49.85L106.48,49.85L106.35,49.44L106.35,49.44L96.29,42.45L99.44,33.83L99.44,33.83L102.98,34.1L105.26,31.83L111.28,18.19L115.03,13.64L119.12,11.03L121.85,10.23L128.33,12.28L131.17,17.62L132.65,17.51L134.92,14.55L137.08,14.21L143.11,8.87L148.11,9.09L151.63,6.93L155.27,0.34L157.66,0L162.2,3.18z"/>
        <path id="MD-OR" title="Orhei" class="land" d="M423.56,280.77L420.38,281.79L420.38,281.79L418.84,282.13L418.84,282.13L415.26,285.71L415.09,289.29L408.27,289.29L407.59,291L413.04,301.57L412.02,305.49L407.76,308.05L398.72,310.26L398.72,310.26L394.12,312.31L394.12,312.31L389.69,313.67L384.57,317.25L384.57,317.25L378.44,319.47L378.44,319.47L371.79,317.59L371.79,317.59L370.42,318.96L370.42,318.96L368.89,322.03L368.89,337.54L367.7,338.39L367.7,338.39L358.49,335.5L357.81,329.87L355.59,326.29L352.52,326.29L346.9,318.45L346.73,316.23L341.78,312.48L339.91,305.66L341.1,304.64L339.91,303.1L332.23,303.61L328.31,300.36L328.31,300.36L330.36,299.27L330.36,299.27L331.72,297.73L329.85,295.69L321.32,292.62L320.9,277.08L320.9,277.08L322.43,276.59L322.43,276.59L328.23,272.67L328.23,270.11L326.52,268.07L326.86,265.17L330.79,259.37L343.91,250.51L353.8,248.46L354.99,247.27L354.99,247.27L354.14,240.79L354.14,240.79L352.78,236.87L356.02,230.22L356.02,230.22L356.61,229.71L356.61,229.71L358.66,229.88L367.35,241.98L372.98,245.05L380.82,244.03L391.56,235.85L398.04,239.26L398.04,239.26L402.3,244.54L401.79,251.53L401.79,251.53L409.64,252.55L409.64,252.55L411.65,252.71L415.43,259.37L421.57,258.52L425.66,264.49L427.88,265.17L429.24,267.21L427.37,272.84L422.93,277.96z"/>
        <path id="MD-RE" title="Rezina" class="land" d="M341.23,207.43L342.81,206.01L342.81,206.01L347.75,198.51L349.79,197.32L354.06,197.32L361.22,200.04L367.52,199.19L368.21,196.98L365.65,188.45L367.35,185.72L370.25,184.53L379.29,184.53L389.69,174.81L390.2,171.06L393.61,167.31L396.34,161.69L396.34,161.69L399.75,160.15L402.48,160.83L404.86,162.54L407.59,167.31L408.1,172.94L405.37,180.1L405.03,187.77L406.4,197.32L405.54,211.98L406.74,216.92L405.71,219.48L405.71,233.46L411.85,238.92L411.85,252.72L409.64,252.55L409.64,252.55L401.79,251.53L401.79,251.53L402.3,244.54L398.04,239.26L398.04,239.26L391.56,235.85L380.82,244.03L372.98,245.05L367.35,241.98L358.66,229.88L356.61,229.71L356.61,229.71L355.76,227.83L355.76,227.83L340.93,215.39L337.52,213.85L336.84,212.32L339.23,210.96z"/>
        <path id="MD-RI" title="Rîşcani" class="land" d="M112.46,194.25L104.07,185.27L100.62,177.7L104.73,176.22L103.74,172.28L100.95,172.28L98.64,170.47L100.45,167.51L97.99,162.74L99.3,156.49L97.33,154.51L92.39,154.02L88.28,151.88L90.09,148.1L93.01,145.62L93.01,145.62L98.7,144.09L102.19,139.93L105.25,128.13L109.84,125.07L115.31,124.85L121.21,129.44L124.27,128.57L126.67,123.32L130.39,122.89L133.67,124.85L136.29,124.85L145.25,119.17L151.15,112.18L151.15,112.18L151.35,108.9L151.35,108.9L154.54,109.33L163.29,115.45L170.72,114.58L170.72,116.55L172.47,118.08L172.47,118.08L173.56,118.08L173.56,118.08L172.03,121.46L172.25,125.4L170.5,128.02L165.91,129.77L168.97,137.42L168.97,145.07L172.9,148.57L179.9,149.22L184.49,151.19L200.88,170.43L203.72,171.08L209.84,169.33L214.21,169.77L216.84,173.05L216.84,173.05L217.02,172.85L217.02,172.85L218.67,175L218.67,175L217.9,176.25L217.9,176.25L212.15,176.54L208.6,180.57L207.93,181.81L211,184.31L210.71,186.23L197.8,183.22L197.8,183.22L197.67,182.1L197.67,182.1L187.6,168.68L180.5,170.4L175.23,174.33L170.15,174.53L144.93,166.47L142.43,167.24L132.55,175.2L130.25,175.48L125.75,172.51L123.92,173.18L122.29,179.8L113.57,191.98L113.57,191.98z"/>
        <path id="MD-SD" title="Şoldăneşti" class="land" d="M323.52,199.68L324.05,199.19L324.05,199.19L324.56,196.64L318.26,179.42L314.16,177.37L308.88,179.42L306.83,178.73L306.83,172.6L310.58,170.38L312.8,161.69L322.69,155.72L329.34,154.35L333.26,155.89L336.33,159.3L336.67,162.71L335.13,165.44L337.35,166.8L341.61,165.27L341.44,160.49L342.81,158.96L351.5,156.23L351.5,148.39L357.98,143.27L358.49,137.65L360.71,136.79L361.39,135.09L361.39,135.09L366.33,134.24L371.28,135.43L378.44,147.54L376.9,149.75L376.73,152.82L377.93,154.53L390.71,156.74L397.19,160.66L396.34,161.69L396.34,161.69L393.61,167.31L390.2,171.06L389.69,174.81L379.29,184.53L370.25,184.53L367.35,185.72L365.65,188.45L368.21,196.98L367.52,199.19L361.22,200.04L354.06,197.32L349.79,197.32L347.75,198.51L342.81,206.01L342.81,206.01L341.1,207.55L341.1,207.55L333.09,200.56z"/>
        <path id="MD-SI" title="Sîngerei" class="land" d="M220.6,264.41L221.16,264.66L221.16,264.66L223.72,265L226.45,263.12L229.35,254.94L228.67,251.87L215.88,251.87L214.69,251.19L214.69,248.12L223.21,241.98L224.4,232.27L229.52,230.73L232.25,228L232.08,225.45L226.28,221.7L219.46,212.15L218.44,209.25L222.7,203.8L222.7,201.24L219.67,199.15L219.67,199.15L220.49,198.79L220.49,198.79L229.03,197.83L232.1,195.72L234.88,197.92L239.58,198.12L240.34,194.28L236.7,191.02L240.54,187.47L240.34,182.87L238.71,181.62L237.08,176.92L235.64,176.64L230.95,182.58L227.97,183.64L222.41,179.51L220.21,179.22L218.44,175.39L218.44,175.39L218.67,175L218.67,175L217.02,172.85L217.02,172.85L219.24,170.43L219.24,170.43L221.43,167.15L226.23,164.31L226.45,166.71L230.39,168.9L237.6,155.34L237.6,155.34L237.6,155.17L237.6,155.17L268.05,184.53L281.35,195.44L299.93,208.23L299.93,208.23L302.49,210.79L302.49,210.79L303.68,216.07L303.68,228L298.56,232.61L300.78,240.62L300.27,244.54L295.67,246.42L287.48,242.67L271.63,242.84L269.07,239.77L267.54,239.6L262.59,241.98L258.84,247.61L260.38,260.91L262.76,266.36L262.59,269.26L260.92,271.64L260.92,271.64L246.57,269.09L242.3,273.18L232.93,266.7L222.36,269.09z"/>
        <path id="MD-SN" title="Unitatea Teritorială din Stînga Nistrului" class="land" d="M473.88,286.67l1.3,1.05l1.09,5.19l-2.39,2.63l0.8,3.37l1.59,1.29l-0.1,5.65l6.7,1.85l8.63,-1.73l-0.21,-13.84l10.91,-3.3l2.5,0.46l1.82,4.43l3.07,22.85l-0.8,1.59l-6.36,1.93l4.85,24.25l-0.95,4.29l-13.47,1.02l1.81,2.72l-0.68,0.6l2.54,1.11l2.16,2.96l3.07,6.71l0.72,-3.21l2.91,-1.79l8.47,0.8l1.93,10.39l-4.49,4.09l0.12,16.57l-6.63,2.19l0.82,1.92l2.05,2.51l9.55,-2.73l2.63,8.57l8.06,-1.07l2.27,-1.36l2.42,1.6l0.61,2.86l0.95,-0.23l3.3,11.23l4.09,1.93l3.64,-1.59l8.53,-0.68l1.25,-3.52l4.74,1.11l2.19,6.6l-1.81,0.13l-0.23,2.05l4.32,7.19l3.19,-1.51l2.96,-3.86h1.82l3.41,3.34l0.63,1.83l-3.17,0.17l-3.21,4.31l5.02,8.15l1.51,5.35l-0.59,23.45l-3.85,3.5l1.8,8l3.76,3.68l0.85,6.31l-2.05,2.9l-9.72,0.34l-3.24,1.58l0,0l-11.35,-9.14l-11.3,-0.34l-3.94,-1.2l-1.54,-4.45l5.65,-4.96l1.71,-5.31l-1.37,-2.91l-8.22,0.86l-7.87,-3.94l0,0l-1.32,0.24l0,0l0.29,-3.15l2.23,-1.37l4.28,-8.56l-5.82,-12.66l-0.51,-8.39l-7.36,0.34l-1.2,-0.85l0.86,-2.4l-1.71,-1.88h-2.57l-1.37,0.86l-1.2,9.76l-2.23,0.69l-4.62,-1.88l-0.34,1.71l-2.57,-0.51l-3.77,-3.25l-0.17,-2.57h-1.88l0,0l-1.37,-0.34l0,0l-1.71,-3.59l-0.18,-8.91l0,0l1.71,-3.41l0,0l-2.39,-5.63l0,0l-1.02,-3.75l2.22,-3.41l0,0l0.51,-3.58l0,0l-2.22,-2.56l-5.97,-2.39l-3.58,1.88l0,0l-3.58,2.22l0,0l-3.75,1.88l0,0l-6.65,-2.73l0,0l-4.77,-3.92l0,0l-1.02,-2.56l0,0l0.68,-6.14l2.56,-0.34l7.67,2.39l0,0l1.19,-2.05l0,0l-2.05,-3.92l3.07,-6.99l0.34,-4.09l-2.39,-6.14l-11.81,-11.24l0.56,-1.12l0,0l-5.28,-7.33l-5.11,-1.36l0,0l-1.19,-1.02l1.02,-2.73l4.26,-3.92l3.92,-1.7v-2.22l3.41,-5.28l5.29,-2.22l3.07,-5.97l-1.19,-1.19l-2.04,0.68l-5.8,4.77l-4.77,1.88l-1.02,2.05l-7.16,0.85l0,0l-6.31,-2.39l-3.07,-3.41l0,0l0.17,-3.92l0,0l-0.17,-6.65l3.75,-6.14l6.14,-1.87l1.02,-2.73l17.73,-8.01l0.13,-1.16l0,0l-0.37,-1.85L473.88,286.67zM334.18,82.69l1.3,1.48l3.13,-0.68l4.55,4.09l3.87,0.34l4.14,2.78l2.91,-0.5l0.91,4.43l4.18,-0.97l0.71,1.2l2.61,0.23l0.8,-1.36l3.79,-0.57l3.74,3.04l4.86,-2.47l5.8,2.73l2.84,4.66l-0.91,5.68l-1.82,2.16l1.14,5.34l-1.02,4.43l5,4.66l0.8,4.89l7.39,8.87l1.15,0.74l4.42,-4.49l2.61,0.34l2.05,1.02l2.95,4.4l2.39,0.6l2.05,3.18l2.98,-1.01l5.22,0.77l1.74,-0.75l-1.23,-5.55l3.45,2.4l-1.07,-5.55l6.69,-0.08l-0.68,-2.97l6.54,1.31l0.91,0.46l-0.11,4.77l2.05,3.18l1.71,16.6l1.29,2.09l2.58,-1.98l0.11,1.36l4.81,-0.82l4.17,1.28l-2.16,4.77l-3.69,1.67l-2.55,3.48l-2.88,6.07l3.52,6.48l1.77,-0.15l1.51,-1.98l3.8,1.71l-2.35,11.61l-5.77,3.6l-1.66,5.34l4.33,8.78l-1.84,0.49l0.1,5.75l-1.4,0.44l-1.06,4.31l4.51,-0.2l-2.36,3.49l-1.51,0.1l1.16,4.02l-4.55,9.98l-11.67,3.85l6.03,12.23l4.52,-2.22l0.88,1.25l-0.88,1.07l0.07,3.81l1.4,1.87l-1.37,1.84l0.56,1.25l-3.98,4.26l4.79,-2.14l0.62,1.28l-2.74,3.17l0.64,4.09l2.79,0.64l7.26,-7.41l1.02,11.49l4.26,-4.85l7.78,-3.42l2.87,16.6l-3.41,3.9l-16.2,4.09l-2.56,2.22l-5.11,-0.17l-2.05,-0.85l-4.43,-8.86l-8.24,-6.39l-0.62,-2.81l4.43,-5.11l1.88,-5.63l-1.36,-2.04l-2.22,-0.68l-4.09,-5.97l-6.14,0.85l-2.56,-3.58l-1.7,-5.63l0.68,-11.25l-6.14,-5.46v-13.98l1.02,-2.56l-1.19,-4.94l0.85,-14.66l-1.36,-9.55l0.34,-7.67l2.73,-7.16l-0.51,-5.63l-2.73,-4.77l-2.39,-1.7l-5.4,-0.04l-6.36,-4.06l-12.79,-2.22l-1.19,-1.7l0.17,-3.07l1.53,-2.22l-7.16,-12.1l-4.94,-1.19l-4.94,0.85l-0.34,-2.56l-1.7,-0.34l-9.03,-10.23l-9.21,-2.22l-4.26,7.67l-1.7,0.85h-2.39l-3.58,-2.56l-1.7,-4.09l6.65,-4.43l2.9,-3.41l1.02,-4.94l3.58,2.39l5.46,-3.58l-0.34,-2.73l-2.05,-1.7l-9.72,-1.02l-2.9,-5.46l-1.7,-1.02l-7.07,0.2l-0.47,-2l2.27,-1.21l0.11,-2.5l-1.48,-1.93l7.84,-6.02L334.18,82.69z"/>
        <path id="MD-SO" title="Soroca" class="land" d="M220.85,42.63L224.38,44.33L242.55,44.59L247.95,47.05L250.59,53.08L249.57,58.84L244.61,65.13L244.5,68.09L247.11,69.79L253.38,68.57L257.34,62.97L261.55,59.79L265.18,60.13L266.66,61.61L268.37,70.47L272.8,73.43L277.15,72.75L287.86,63.94L292.33,66.16L295.7,63.82L297.07,64.28L299.8,68.14L299.8,78.26L296.84,84.06L290.82,86.67L291.84,93.15L299.57,92.24L302.87,86.1L306.84,84.28L310.48,84.74L311.5,85.88L311.5,90.88L309.46,94.85L310.33,103.64L316.28,108.04L319.81,107.78L319.81,107.78L324.81,110.65L327.43,114.14L326.12,117.64L313.66,126.16L307.76,133.38L290.93,132.5L283.28,129.01L279.35,129.44L272.14,134.91L259.68,131.19L239.79,130.97L239.79,130.97L236.29,130.97L236.29,130.97L233.01,123.54L237.6,120.04L238.69,116.55L243.72,116.55L244.81,112.18L247.22,110.86L247.87,103.87L241.1,93.16L226.23,78.52L214.21,77.42L210.28,68.24L207.84,66.98L207.84,66.98L209.4,66.27L209.4,66.27L212.9,64.53L215.96,64.53L221.65,58.19L216.62,53.38L208.53,49.88L209.62,45.95L218.3,39.1L218.3,39.1z"/>
        <path id="MD-ST" title="Străşeni" class="land" d="M367.76,338.35L369.74,342.14L369.74,342.14L369.06,346.41L367.35,346.41L363.77,349.99L363.09,354.93L363.09,354.93L361.05,359.19L351.5,360.9L346.04,364.48L344.34,366.69L344,370.44L346.21,375.39L346.21,375.39L345.19,377.09L345.19,377.09L340.08,377.6L338.54,383.06L340.08,384.94L339.4,385.96L336.5,385.96L331.89,383.4L326.1,375.39L324.05,374.2L322.35,368.91L320.64,368.74L318.94,370.96L318.94,370.96L314.85,370.1L314.85,370.1L312.29,368.23L307.17,371.47L303.08,369.59L297.97,372.66L290.64,367.21L286.2,367.03L286.2,367.03L287.4,365.24L287.4,365.24L285.18,361.15L279.04,358.77L273.93,353.99L273.59,351.61L277.85,351.78L279.21,345.98L279.21,345.98L279.72,345.31L279.72,345.31L282.11,346.83L291.66,345.81L303.76,340.01L307,335.24L312.29,334.73L313.99,327.91L311.78,320.41L306.15,318.53L306.83,316.66L315.36,313.08L319.28,307.62L325.93,306.26L327.8,300.63L327.8,300.63L328.31,300.36L328.31,300.36L332.23,303.61L339.91,303.1L341.1,304.64L339.91,305.66L341.78,312.48L346.73,316.23L346.9,318.45L352.52,326.29L355.59,326.29L357.81,329.87L358.49,335.5L367.7,338.39L367.7,338.39z"/>
        <path id="MD-SV" title=" Ştefan Vodă" class="land" d="M563.24,496.82L566.14,501.21L572.96,505.47L581.31,506.15L583.19,509.05L583.7,514.33L588.3,521.84L590.69,522.18L592.91,526.27L595.37,526.7L598.02,523.37L601.09,524.39L605.35,528.48L610.98,527.46L612,530.02L610.47,532.4L595.12,541.78L593.08,540.76L577.22,540.93L571.42,538.37L565.8,542.12L563.58,548.6L560.17,549.62L554.21,545.36L551.82,539.05L548.16,534.91L545,522.52L541.59,518.77L537.5,516.72L536.58,517.92L538.69,522.52L536.82,527.12L532.43,527.69L528.8,524.9L524.78,525.69L524.54,531.38L526.25,540.25L520.62,544.34L513.29,544.34L506.8,540.26L505.45,537.18L506.1,534.16L505.11,529.68L498.97,527.29L494.95,527.36L493.17,525.76L491.13,515.7L487.72,512.8L485.33,512.97L485.33,512.97L477.27,503.77L476.76,499.15L485.32,494.01L480.52,488.88L490.11,481.35L495.93,483.57L503.97,476.56L512.87,476.39L516.13,472.28L521.43,471.08L523.14,465.77L523.14,465.77L525.03,465.43L525.03,465.43L532.9,469.37L541.11,468.51L542.48,471.42L540.77,476.73L535.12,481.69L536.66,486.14L540.6,487.34L551.9,487.68z"/>
        <path id="MD-TA" title="Taraclia" class="land" d="M329,640.07l-1.02,2.39l0,0l-4.6,-0.17l0,0h-1.53l0,0l-2.56,0.85l0.68,4.94l4.95,1.88l4.43,4.09l3.75,-0.17l10.57,-7.5l10.4,-0.51l1.53,-0.68v-2.05l-4.6,-13.47l0,0l1.02,-3.41l0,0l4.94,-2.05l4.43,1.88l0,0l2.05,2.73l0,0l4.43,6.31l2.72,6.92l-6.38,2.29l-3.58,2.9l1.02,9.72l1.19,1.02l-0.45,7.33l0,0l-14.63,1.7l0,0l-15.17,4.43l-5.46,-0.51l-2.39,1.36l0,0l-0.51,3.92l0,0l0.85,2.73l8.52,6.82l3.92,-0.68l0,0l1.71,-0.68l0,0l9.38,-4.09l0,0l2,1.39l0,0l0.3,4.32l-1.71,3.41l-4.09,2.56l-11.93,1.19l-1.02,1.88l0.68,8.01l-0.17,-1.53l-0.68,3.24l-8.44,0.32l0,0l0.68,-2.45l1.71,-0.51l0.51,-3.58l-3.58,-2.9l-1.36,-2.9v-5.28l-2.73,-2.05l-2.73,3.24l-5.28,-7.16l-8.87,-1.7l-1.87,-2.39l-2.05,-10.91l1.36,-1.19l9.04,0.17l0,0l1.88,6.48l1.88,0.51l3.07,-1.36l0,0l2.22,-1.7l0,0l1.02,-4.09l-3.92,-2.56h-2l0.64,-0.85l0,0l-1.19,-2.73l-4.94,-4.77l-0.85,-16.19l-1.02,-1.88l2.39,-5.45l0.51,-8.69l1.88,-1.7l7.33,-1.19l0.59,-1.02l0,0h1.29l0,0l2.22,-2.04l1.71,0.51l2.05,5.29l-0.34,2.73l0,0l-2.05,4.43l0,0l-4.43,2.22v1.88l8.87,2.73l0,0l1.88,1.53V640.07zM405.12,624.72l-1.36,5.88l-5.28,4.09l-11.86,3.9l-0.84,-6.21l0,0l-1.19,-6.14l0,0l-3.75,0.51l0,0l-1.02,-1.19l0,0l1.02,-7.5l8.35,-6.14l0,0l4.26,-1.53l-2.39,-10.57l0,0l-0.34,-4.94l3.92,-6.65l10.91,-10.74l0,0l1.29,-1.24l0,0l8,4.56l2.05,2.39l0.25,2.28l-0.59,4.2l-6.99,6.22l-2.23,5.89l-8.35,5.79l-1.19,4.01l5.97,9.04L405.12,624.72z"/>
        <path id="MD-TE" title="Teleneşti" class="land" d="M356.55,229.56L356.02,230.22L356.02,230.22L352.78,236.87L354.14,240.79L354.14,240.79L354.99,247.27L354.99,247.27L353.8,248.46L343.91,250.51L330.79,259.37L326.86,265.17L326.52,268.07L328.23,270.11L328.23,272.67L322.43,276.59L322.43,276.59L318.17,277.96L318.17,277.96L304.7,280L297.2,282.73L292.6,282.22L287.14,278.98L272.48,277.27L272.48,277.27L265.15,275.23L260.92,271.64L260.92,271.64L262.59,269.26L262.76,266.36L260.38,260.91L258.84,247.61L262.59,241.98L267.54,239.6L269.07,239.77L271.63,242.84L287.48,242.67L295.67,246.42L300.27,244.54L300.78,240.62L298.56,232.61L303.68,228L303.68,216.07L302.49,210.79L302.49,210.79L301.66,209.96L301.66,209.96L304.79,206.18L306.32,206.01L311.61,208.91L315.02,209.08L316.89,203.97L321.66,201.41L321.66,201.41L323.52,199.68L323.52,199.68L333.09,200.56L341.1,207.55L341.1,207.55L341.23,207.43L341.23,207.43L339.23,210.96L336.84,212.32L337.52,213.85L340.93,215.39L355.76,227.83L355.76,227.83z"/>
        <path id="MD-UN" title="Ungheni" class="land" d="M241.81,384.75L238.94,383.22L237.96,379.93L233.19,379.77L227.43,375.33L222.99,374.5L221.67,369.73L218.88,369.4L213.45,362L206.05,357.23L206.21,352.79L199.47,350L198.48,340.13L193.38,328.94L191.25,327.63L190.26,319.57L187.46,316.77L185.32,311.51L180.23,313.15L177.1,309.53L172.33,308.22L169.53,304.93L169.04,301.47L165.09,298.51L164.74,293.92L171.38,292.84L177.86,282.78L186.56,280.22L191.33,276.3L198.66,275.28L209.4,275.96L210.94,274.94L212.3,272.21L212.3,264.88L213.66,263.34L216.56,262.83L220.6,264.46L222.36,269.14L232.93,266.75L242.3,273.23L246.57,269.14L249.64,269.14L255.09,271.19L260.92,271.69L265.15,275.28L269.13,276.62L267.28,291.98L254.49,302.55L248.19,314.49L243.07,320.63L228.07,328.64L226.88,331.03L229.43,338.87L227.22,343.47L223.64,347.22L224.32,354.55L226.19,360.18L238.47,369.55L240.85,373.48L242.22,375.86z"/>
    </g>
</svg>