{# templates for event map page #}
<script type="text/template" id="template-event-map">
    <object id="event-map" type="image/svg+xml" width="640" height="780">
        {{ include("@App/Default/svg_map_data.html.twig") }}
    </object>
    <div id="event-map-info"></div>
</script>

<script type="text/template" id="template-event-map-info">
    <% if (typeof id !== "undefined") { %>
        <a class="btn btn-lg btn-info event-map-button" href="#event/<%= id %>/stands">{{ 'event_map.button'|trans }}</a>
    <% } else { %>
        <a class="btn btn-lg btn-info disabled event-map-button">{{ 'event_map.button'|trans }}</a>
    <% } %>
    <hr/>
    <div class="event-map-sidebar-info">
        <% if (typeof title !== "undefined") { %>
        <h4><strong>{{ 'noun.event'|trans }}:</strong> <%= title %></h4>
        <h5><strong>{{ 'noun.district'|trans }}:</strong><%= district_name %></h5>
        <h5><strong>{{ 'noun.date'|trans }}:</strong> <%= start_date %> - <%= end_date %></h5>
        <% } else { %>
        <p>{{ 'event_map.no_selected_event'|trans }}</p>
        <% } %>
    </div>
</script>

{# templates for stands list page #}
<script type="text/template" id="template-stands-page">
    <div class="stands-header">
        <h3>{{ 'stands.header'|trans }}</h3>
        <a class="btn btn-success" href="#">{{ 'stands.back_to_the_map'|trans }}</a>
    </div>
    <div id="stands"></div>
</script>

<script type="text/template" id="template-stand-item">
    <div class="stand">
        <h4>Stand #<%= id %></h4>
        <hr/>
        <div class="stand-info">
            <h5><%= title %></h5>
            <a class="fancy" href="<%= image_url %>">
                <img src="<%= image_thumb %>" alt="" class='<% if (typeof company !== "undefined") { %>grayscale<% } %>' />
            </a>
        </div>

        <% if (typeof company !== "undefined") { %>
            <div class="booked" data-stand-id="<%= id %>">
                <h5>{{ 'stands.this_stand_is_booked'|trans }}:</h5>
                <p><%= company.name %></p>
                <img src="<%= company.logo_url %>" height="50" />
                <br/>
                <small><%= company.contact_details %><br><a href="<%= marketing_file_url %>" download="">{{ 'stands.marketing_documents_download'|trans }}</a></small>
            </div>
        <% } else { %>
            <a class="btn btn-info" href="#reservation-stand/<%= id %>" data-stand-id="<%= id %>">{{ 'stands.book_this_stand'|trans }}</a>
        <% } %>
    </div>
</script>

{# templates for reservation stand page #}
<script type="text/template" id="template-reservation-stand">
    <div class="reservation-stand-header">
        <a class="btn btn-success" href="#event/<%= event.id %>/stands">{{ 'reservation_stand.back_to_stands_list'|trans }}</a>

        <div class="reservation-stand-info">
            <a href="<%= image_url %>" class="fancy">
                <img src="<%= image_thumb %>" />
            </a>
            <p style="float: left;">
                <strong>{{ 'noun.stand'|trans }}:</strong> #<%= id %> (<%= title %>)<br/>
                <strong>{{ 'noun.event'|trans }}:</strong> <%= event.title %><br/>
                <strong>{{ 'noun.date'|trans }}:</strong> <%= event.start_date %> - <%= event.end_date %><br/>
                <strong>{{ 'noun.location'|trans }}:</strong> <%= event.district_name %>
            </p>
            <div style="clear: both; "></div>
        </div>

        <hr/>
        <h3>{{ 'reservation_stand.header'|trans }}</h3>
    </div>
    <div class="reservation-form">
        {{ form_start(reservationStandForm, {'attr': {'class': 'reservation-stand-form'}}) }}
        <div class="form-group company-logo-group">
            {{- form_label(reservationStandForm.logoFile, null, {'label_attr': {'class': 'control-label'}}) -}}
            {{- form_widget(reservationStandForm.logoFile) -}}
        </div>
        <div class="form-group company-marketing-file-group">
            {{- form_label(reservationStandForm.marketingFile, null, {'label_attr': {'class': 'control-label'}}) -}}
            {{- form_widget(reservationStandForm.marketingFile) -}}
        </div>
        <div class="form-group company-name-group">
            {{- form_label(reservationStandForm.name, null, {'label_attr': {'class': 'control-label'}}) -}}
            {{- form_widget(reservationStandForm.name, {'attr': {'class': 'form-control'}}) -}}
        </div>
        <div class="form-group contact-details-group">
            {{- form_label(reservationStandForm.contactDetails, null, {'label_attr': {'class': 'control-label'}}) -}}
            {{- form_widget(reservationStandForm.contactDetails, {'attr': {'class': 'form-control'}}) -}}
        </div>
        <a href="#" class="btn btn-info submit">Submit</a>
        {{ form_end(reservationStandForm) }}
    </div>
</script>